@import "./fonts.css";
@import "./tailwind.css";
@import "./theme.css";

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}
